.div0{
    margin: 30px auto;
    max-width: 1000px;
}

h2{
    text-transform: uppercase;
    font-size: xxx-large;
    font-weight: 900;
    margin: 50px auto;
    display: block;
    text-align: center;
}