<div class="d-flex align-items-start justify-content-around">
    <div>
        <p>Besoin d’aide ?</p>
        <a>Service client</a>
        <a>Livraison</a>
        <a>Paiement</a>
        <a>Retours & remboursements</a>
        <a>Nous contacter</a>
    </div>

    <div>
        <p>À propos de My Jewelly</p>
        <a>A propos de nous</a>
        <a>Durabilité</a>
        <a>Réduction étudiante</a>
        <a>Carrière</a>
        <a>Médias & Ambassadeurs</a>
    </div>

    <div>
        <p>Réseaux sociaux</p>
        <a>Instagram</a>
        <a>Facebook</a>
        <a>TikTok</a>
        <a>Pinterest</a>
    </div>
</div>
<footer class="d-flex justify-content-around">
    <div> Privacy Policy </div>
    <div> Terms and Conditions</div>
    <div> © 2024 Jewerly Inc</div>
</footer>