.d-flex {
    background-color: black;
    padding: 30px ;
    font-size: .85rem;
    font-family: BrandonGrotesque, sans-serif;
    
    a , p{
        color: #fbfbf9;
        display: block;
        margin: 10px 0;
        text-decoration: none;
    }
    a:hover{
        text-decoration:underline;
    }
    p{
        font-weight: 600;
    }
}

footer {
    background-color: #ece9e0 !important;
    width: 100vw;
    height: auto;
    padding: 20px;
}