<div class="d-flex align-items-center justify-content-center">
    <div>
        <input *ngIf="!isPWshow" (keyup)="getPassword($event)" type="password" id="password" class="form-control"
            formControlName="password" [value]="password" placeholder="Password*" autocomplete="new-password" />
        <input *ngIf="isPWshow" (keyup)="getPassword($event)" type="text" id="password" class="form-control"
            formControlName="password" [value]="password" />
    </div>
    <button type="button" class="btn btn-light" (click)="toggleShow()">eye</button>
</div>
