<form [formGroup]="LoginForm" *ngIf="dejaUnCompte" (ngSubmit)="submitLogin()">
    <h2>Se Connecter</h2>
    <input type="email" class="form-control" formControlName="email" placeholder="Email*" autocomplete="new-email" />
    <app-input-password (customEvent)="handleEvent($event)"></app-input-password> 
    <div class="d-flex align-items-center justify-content-around">
        <button type="submit" class="btn btn-dark">Log in</button>
        <a (click)="toggleLogin()">Pas de compte?</a>
    </div>
    <span #logininfo></span>

</form>

<form [formGroup]="SignInForm" *ngIf="!dejaUnCompte" (ngSubmit)="submitSignIn()">
    <h2>S'Inscrire</h2>
    <input type="text" class="form-control" formControlName="fisrtname" placeholder="Nom*" />
    <input type="text" class="form-control" formControlName="lastname" placeholder="Prenom*" />
    <input type="email" class="form-control" formControlName="email" placeholder="Email*" autocomplete="new-email" />
    <input type="number" class="form-control" formControlName="phoneNo" placeholder="Numéro de téléphone" autocomplete="tel-national" />
    <app-input-password (customEvent)="handleEvent($event)"></app-input-password> 
     <div class="d-flex align-items-center justify-content-around">
        <button type="submit" class="btn btn-dark">Sign in</button>
        <a (click)="toggleLogin()">Log In ?</a>
    </div>
    <span #signininfo></span>
</form>