h2{
    margin-top: 50px ;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: BrandonGrotesque, sans-serif;
}

#btnAddReview{
    border: 1px solid black;
    background-color: transparent;
    padding: 10px 20px;
    margin: 50px auto;
    display: block;
    text-transform: uppercase;
}

.liste-comments{
    font-size: .85rem;
    font-family: BrandonGrotesque, sans-serif;
    margin-bottom: 50px ;
    border-bottom: 0.2px solid #aaaaaa;

    .onecomment{
        border-top: 0.5px solid #aaaaaa;
        padding:15px ;

        .comment{
            width: 60%;

            svg{
                margin-right: 4px;
            }
        }
    }
}

.addReviewContainer{
    width: 50vw;
   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0;
    border : 0.5px solid black;
    padding: 30px;
    label{
        display:block;
        margin: 15px 0;
    }

    textarea{
        height: 100px;
    }
}