.un-produit {
    margin: 10px;
    width: 300px;
}

img {
    object-fit: cover;
    min-width: 250px;
    min-height: 300px;
    width: calc(300px - 2rem);
    height: 370px;
}

#imghover {
    display: none;
}


.un-produit {

    a {
        color: black;
        text-decoration: none;
    }

    #nomprod {
        font-weight: 600;
        margin: 5px 0;
        text-transform: uppercase;
        color: black;
        height: 60px;
        display: flex;
        align-items: center;
    }

    #prixprod {
        margin: 0;
    }

    #color {
        font-size: small;
    }

    #btn-color {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: none;
        background-color: #eac37c;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}


.un-produit:hover {
    #imghover {
        display: block;
    }
    #img {
        display: none;
    }
}

.bg-body-tertiary{
    background-color: rgb(245, 243, 237, 0.42) !important;
}